:root {
	--text: #fff;
	--bg: #333;
	--bg: #000;

	--sans: system-ui, 'Segoe UI', Roboto, sans-serif;

	font: 18px/145% var(--sans);
	letter-spacing: 0.18px;
	color-scheme: light dark;
	color: var(--text);
	background: var(--bg);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (max-width: 1024px) {
		font-size: 16px;
	}
}

body {
	margin: 0;
	min-height: 100vh;

	display: grid;

	place-items: center;
}

// ////////////////////////////////////////////////////////////////////

#numbers {
	--totalcols: 10;

	--offset: calc(100% / (var(--totalcols) - 1));
	--gap: 0px;

	width: 80vmin;

	display: grid;

	grid-template-columns: repeat(6, 1fr);
	gap: 20px;

	[sector='tl'] {
		background-image: url(./assets/numbers-tl.png);
	}

	[sector='tr'] {
		background-image: url(./assets/numbers-tr.png);
	}

	[sector='br'] {
		background-image: url(./assets/numbers-br.png);
	}

	[sector='bl'] {
		background-image: url(./assets/numbers-bl.png);
	}

	// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

	--delay-scaler: 0;

	[delay='1'] {
		--delay-scaler: 1;
	}

	[delay='2'] {
		--delay-scaler: 2;
	}

	[delay='3'] {
		--delay-scaler: 3;
	}

	[delay='4'] {
		--delay-scaler: 4;
	}

	// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

	&[number='0'] {
		[sector='tl'] {
			--col: 0;
			--row: 0;
		}
		[sector='tr'] {
			--col: 9;
			--row: 0;
		}
		[sector='br'] {
			--col: 9;
			--row: 9;
		}
		[sector='bl'] {
			--col: 0;
			--row: 9;
		}
	}

	&[number='1'] {
		[sector='tl'] {
			--col: 1;
			--row: 1;
		}
		[sector='tr'] {
			--col: 8;
			--row: 1;
		}
		[sector='br'] {
			--col: 8;
			--row: 8;
		}
		[sector='bl'] {
			--col: 1;
			--row: 8;
		}
	}
	&[number='2'] {
		[sector='tl'] {
			--col: 2;
			--row: 2;
		}
		[sector='tr'] {
			--col: 7;
			--row: 2;
		}
		[sector='br'] {
			--col: 7;
			--row: 7;
		}
		[sector='bl'] {
			--col: 2;
			--row: 7;
		}
	}
	&[number='3'] {
		[sector='tl'] {
			--col: 3;
			--row: 3;
		}
		[sector='tr'] {
			--col: 6;
			--row: 3;
		}
		[sector='br'] {
			--col: 6;
			--row: 6;
		}
		[sector='bl'] {
			--col: 3;
			--row: 6;
		}
	}
	&[number='4'] {
		[sector='tl'] {
			--col: 4;
			--row: 4;
		}
		[sector='tr'] {
			--col: 5;
			--row: 4;
		}
		[sector='br'] {
			--col: 5;
			--row: 5;
		}
		[sector='bl'] {
			--col: 4;
			--row: 5;
		}
	}
	&[number='5'] {
		[sector='tl'] {
			--col: 5;
			--row: 5;
		}
		[sector='tr'] {
			--col: 4;
			--row: 5;
		}
		[sector='br'] {
			--col: 4;
			--row: 4;
		}
		[sector='bl'] {
			--col: 5;
			--row: 4;
		}
	}
	&[number='6'] {
		[sector='tl'] {
			--col: 6;
			--row: 6;
		}
		[sector='tr'] {
			--col: 3;
			--row: 6;
		}
		[sector='br'] {
			--col: 3;
			--row: 3;
		}
		[sector='bl'] {
			--col: 6;
			--row: 3;
		}
	}
	&[number='7'] {
		[sector='tl'] {
			--col: 7;
			--row: 7;
		}
		[sector='tr'] {
			--col: 2;
			--row: 7;
		}
		[sector='br'] {
			--col: 2;
			--row: 2;
		}
		[sector='bl'] {
			--col: 7;
			--row: 2;
		}
	}
	&[number='8'] {
		[sector='tl'] {
			--col: 8;
			--row: 8;
		}
		[sector='tr'] {
			--col: 1;
			--row: 8;
		}
		[sector='br'] {
			--col: 1;
			--row: 1;
		}
		[sector='bl'] {
			--col: 8;
			--row: 1;
		}
	}
	&[number='9'] {
		[sector='tl'] {
			--col: 9;
			--row: 9;
		}
		[sector='tr'] {
			--col: 0;
			--row: 9;
		}
		[sector='br'] {
			--col: 0;
			--row: 0;
		}
		[sector='bl'] {
			--col: 9;
			--row: 0;
		}
	}

	.window {
		aspect-ratio: 1;

		background-color: #fff;

		background-size: calc(var(--totalcols) * 100%);
		background-position: calc(0% + (var(--col) * var(--offset))) calc(0% + (var(--row) * var(--offset)));

		background-repeat: no-repeat;

		will-change: background-position;
		transition: background-position 500ms ease-in-out calc(var(--delay-scaler) * 50ms);

		// &.hero {
		// 	// border: 1px solid magenta;
		// 	background-size: 600% 800%;

		// 	&:nth-child(1 of .window.hero) {
		// 		background-position: 0% 0%;
		// 	}
		// 	&:nth-child(2 of .window.hero) {
		// 		background-position: 20% 0%;
		// 	}
		// 	&:nth-child(3 of .window.hero) {
		// 		background-position: 0% 16.666%;
		// 	}
		// 	&:nth-child(4 of .window.hero) {
		// 		background-position: 20% 16.666%;
		// 	}
		// }
	}
}
